<div class="comment">
  <p>
    <strong>Comment last updated: <%= comment.updated_at %><br/>
	Comment updated by: <%=h comment.comment_by %></strong>
    <%= link_to "Edit", edit_requisition_req_comment_url(:id => comment,
                                  :requisition_id => comment.requisition_id) %>

    <%= link_to "Delete", requisition_req_comment_url(:id => comment,
                                  :requisition_id => comment.requisition_id), 
                                  :method => :delete %>
  </p>
  <blockquote>
    <%=h comment.comment %>
  </blockquote>


</div>                                    
