<div class="comment-box">
  <div class="comment-caption">
  By <%=h comment.comment_by %> at 
	   <%= comment.updated_at.strftime("%Y-%m-%d") %>:
  </div>
  <div class="comment-leftcolumn">
    <%=h comment.comment %>
  </div>
  <div class="comment-rightcolumn">
    <%= link_to t('edit'), edit_requisition_req_comment_url(:id => comment,
                                  :requisition_id => comment.requisition_id) %>
    <br />
    <%= link_to t('destroy'), requisition_req_comment_url(:id => comment,
                                  :requisition_id => comment.requisition_id), 
                                  :method => :delete %>
  </div>
</div>
