<h1><%= t 'req_com.edit_title' %></h1>

<%= form_for([@requisition,@req_comment]) do |f| %>
  <%= render "shared/error_messages", :target => @req_comment %>
  <p>
    <b><%= t 'req_com.comment' %>:</b><br />
    <%= f.text_area :comment %>
  </p>

  <p>
    <b><%= t 'req_com.req' %>:</b><br />
    <%= f.text_field :requisition_id %>
  </p>

  <p>
    <%= f.submit t("update") %>
  </p>
<% end %>

<%= link_to t('back'), requisition_path(@requisition) %>
