<!-- partial to show summary information about contracts as part
  of the requisition screen. called once for each contract.
  formatting all a bit crap at the moment!              -->
  <tr class="list-line-odd">
    <td class="list-cell"><%=h contract.commodity %></td>
    <td class="list-cell"><%= link_to contract.reference,
      requisition_contract_path(contract.requisition,contract) %></td>
    <td class="list-cell"><%=h contract.commence_date %></td>
    <td class="list-cell"><%=h contract.supplier %></td>
    <td class="list-cell"><%=h contract.currency %></td>
    <% if @view_costs %>
      <td class="list-cell"><%= number_with_delimiter(contract.value_current)
	     %></td>
    <% end %>
    <td class="list-cell"><%=h contract.delivery_terms %></td>
    <td class="list-cell"><%=h contract.delivery_date_contract %></td>
    <td class="list-cell"><%=h contract.delivery_date_forecast %></td>
	<td class="list-cell"><%=h truncate(contract.expedite_comment,
	  :length => 30) %></td>
  </tr>
