<!-- partial to show summary information about contracts as part
  of the requisition screen. called once for each contract.
  formatting all a bit crap at the moment!              -->
<h3><%= t 'contr.title' %></h3>
<table>
  <tr class="list-header">
    <th><%= t 'contr.commodity' %></th>
    <th><%= t 'contr.ref' %></th>
    <th><%= t 'contr.com_date' %></th>
    <th><%= t 'contr.supplier' %></th>
    <th><%= t 'contr.curr' %></th>
    <% if @view_costs %>
	  <th><%= t 'contr.value_o' %></th>
	<% end %>
    <th><%= t 'contr.d_terms' %></th>
    <th><%= t 'contr.d_date_c' %></th>
    <th><%= t 'contr.d_date_f' %></th>
	<th><%= t 'contr.ex_comment' %></th>
	<th><%= t 'action' %></th>
  </tr>
