<div id="header_menu">
  <table width="100%"><tr>
    <td><%= link_to "Home", root_path %></td>
	<td><%= link_to "Requisitions", requisitions_path %></td>
	<td>Expediting</td>
    <td><%= link_to "Service Requests", service_requests_path %></td>
	<td><%= link_to "User Maintainence", users_path %></td>
	<td><%= link_to "Logout", logout_path %></td>
  </tr></table>
</div>
<hr />


