<h1><%= t 'contr.edit_title' %></h1>

<%= form_for(@contract) do |f| %>
  <%= render "shared/error_messages", :target => @contract %>
<table>
  <tr>
    <td><%= f.label :commodity, t('contr.commodity') %></td>
    <td><%= f.text_field :commodity %></td>
  </tr>
  <tr>
    <td><%= f.label :reference, t('contr.ref') %></td>
    <td><%= f.text_field :reference %></td>
  </tr>
  <tr>
    <td><%= f.label :commence_date, t('contr.com_date') %></td>
    <td><%= f.text_field :commence_date %></td>
  </tr>
  <tr>
    <td><%= f.label :supplier, t('contr.supplier') %></td>
    <td><%= f.text_field :supplier %></td>
  </tr>
  <tr>
    <td><%= f.label :currency, t('contr.curr') %></td>
	<td><%= f.select :currency, Contract::CURRENCY_TYPES %></td>
  </tr>
  <tr>
    <td><%= f.label :value_orig, t('contr.value_o') %></td>
    <td><%= f.text_field :value_orig %></td>
  </tr>
  <tr>
    <td><%= f.label :value_current, t('contr.value_c') %></td>
    <td><%= f.text_field :value_current %></td>
  </tr>
  <tr>
    <td><%= f.label :delivery_terms, t('contr.d_terms') %></td>
    <td><%= f.text_field :delivery_terms %></td>
  </tr>
  <tr>
    <td><%= f.label :delivery_date_contract, t('contr.d_date_c') %></td>
    <td><%= f.text_field :delivery_date_contract %></td>
  </tr>
  <tr>
    <td><%= f.label :delivery_date_forecast, t('contr.d_date_f') %></td>
    <td><%= f.text_field :delivery_date_forecast %></td>
  </tr>
  <tr>
    <td><%= f.label :expedite_contract, t('contr.ex_contact') %></td>
    <td><%= f.text_field :expedite_contract %></td>
  </tr>
  <tr>
    <td><%= f.label :expedite_email, t('contr.ex_email') %></td>
    <td><%= f.text_field :expedite_email %></td>
  </tr>
  <tr>
    <td><%= f.label :expedite_phone, t('contr.ex_phone') %></td>
    <td><%= f.text_field :expedite_phone %></td>
  </tr>
  <tr>
    <td><%= f.label :expedite_last_contact, t('contr.ex_date') %></td>
    <td><%= f.text_field :expedite_last_contact %></td>
  </tr>
  <tr>
    <td><%= f.label :expedite_status, t('contr.ex_status') %></td>
    <td><%= f.select :expedite_status, Contract::EXPEDITE_STATUS_TYPES %></td>
  </tr>
</table>
<p>
Expeditor comments:<br />
<%= f.text_area :expedite_comment, :rows => 3 %>
<p><%= f.submit t('update') %></p>
<% end %>

<%= link_to t('show'),
   contract_path(@contract) %> |
<%= link_to t('contr.back'), requisition_path(@contract.requisition) %> |
<%= link_to t('req.back'), requisitions_path %>
