<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Requisition</th>
    <th>Commodity</th>
    <th>Reference</th>
    <th>Commence date</th>
    <th>Supplier</th>
<!--
    <th>Value orig</th>
    <th>Value current</th>
    <th>Delivery terms</th>
    <th>Delivery date contract</th>
    <th>Delivery date forecast</th>
    <th>Expedite contract</th>
    <th>Expedite email</th>
    <th>Expedite phone</th>
    <th>Expedite last contact</th>
    <th>Expedit status</th>
 -->
    <th>Update by</th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%=h contract.requisition_id %></td>
    <td><%=h contract.commodity %></td>
    <td><%=h contract.reference %></td>
    <td><%=h contract.commence_date %></td>
    <td><%=h contract.supplier %></td>
<!--
<td><%=h contract.value_orig %></td>
    <td><%=h contract.value_current %></td>
    <td><%=h contract.delivery_terms %></td>
    <td><%=h contract.delivery_date_contract %></td>
    <td><%=h contract.delivery_date_forecast %></td>
    <td><%=h contract.expedite_contract %></td>
    <td><%=h contract.expedite_email %></td>
    <td><%=h contract.expedite_phone %></td>
    <td><%=h contract.expedite_last_contact %></td>
    <td><%=h contract.expedit_status %></td>
  -->
<td><%=h contract.update_by %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contract', new_contract_path %>
