<h2>Details for Purchase Contract</h2>
<table>
  <tr>
    <td><b>Reference:</b></td>
    <td><b><%=h @contract.reference %><em></td>
    <td><b>Commodity:</b></td>
    <td><b><%=h @contract.commodity %></b></td>
  </tr>

  <tr>
    <td>Commence date:</td>
    <td><%=h @contract.commence_date %></td>
    <td>Supplier:</td>
    <td><%=h @contract.supplier %></td>
  </tr>

  <tr>
    <td>Currency:</td>
    <td><%=h @contract.currency %></td>
    <td>Value orig:</td>
    <td><%=h @contract.value_orig %></td>
  <tr>
    <td> &nbsp;</td><td>&nbsp;</td>
    <td>Value current:</td>
    <td><%=h @contract.value_current %></td>
  </tr>
  <tr>
    <td>Delivery terms:</td>
    <td><%=h @contract.delivery_terms %></td>
    <td>Delivery date contract:</td>
    <td><%=h @contract.delivery_date_contract %></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Delivery date forecast:</td>
    <td><%=h @contract.delivery_date_forecast %></td>
  </tr>

  <tr>
    <td>Expedite contact (name):</td>
    <td><%=h @contract.expedite_contract %></td>
    <td>Expedite email:</td>
    <td><%=h @contract.expedite_email %></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>Expedite phone:</td>
    <td><%=h @contract.expedite_phone %></td>
  </tr>

  <tr>
    <td>Expedite last contact:</td>
    <td><%=h @contract.expedite_last_contact %></td>
    <td>Expedite status:</td>
    <td><%=h @contract.expedite_status %></td>
  </tr>

  <tr>
    <td>Update by:</td>
    <td><%=h @contract.update_by %></td>
  </tr>
</table>

<%= link_to 'Edit',
   edit_requisition_contract_path(@requisition, @contract) %> |
<%= link_to 'Back', requisition_path(@requisition) %>
