<h2><%= t 'contr.show_title' %></h2>
<table class="show-table">
  <tr>
    <td class="show-table-label"><%= t 'contr.ref' %>:</td>
    <td class="show-table-data"><%=h @contract.reference %></td>
    <td class="show-table-label"><%= t 'contr.commodity' %>:</td>
    <td class="show-table-data"><%=h @contract.commodity %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'contr.com_date' %>:</td>
    <td class="show-table-data"><%=h @contract.commence_date %></td>
    <td class="show-table-label"><%= t 'contr.supplier' %>:</td>
    <td class="show-table-data"><%=h @contract.supplier %></td>
  </tr>
<% if @view_costs %>
  <tr>
    <td class="show-table-label"><%= t 'contr.currency' %>:</td>
    <td class="show-table-data"><%=h @contract.currency %></td>
    <td class="show-table-label"><%= t 'contr.value_o' %>:</td>
    <td class="show-table-data"><%= number_with_delimiter(
	   @contract.value_orig) %></td>
  <tr>
    <td class="show-table-label"> &nbsp;</td>
	<td class="show-table-data">&nbsp;</td>
    <td class="show-table-label"><%= t 'contr.value_c' %>:</td>
    <td class="show-table-data"><%= number_with_delimiter(
	   @contract.value_current) %></td>
  </tr>
<% end %> 
  <tr>
    <td class="show-table-label"><%= t 'contr.d_terms' %>:</td>
    <td class="show-table-data"><%=h @contract.delivery_terms %></td>
    <td class="show-table-label"><%= t 'contr.d_date_c' %>:</td>
    <td class="show-table-data"><%=h @contract.delivery_date_contract %></td>
  </tr>

  <tr>
    <td class="show-table-label">&nbsp;</td>
    <td class="show-table-data">&nbsp;</td>
    <td class="show-table-label"><%= t 'contr.d_date_f' %>:</td>
    <td class="show-table-data"><%=h @contract.delivery_date_forecast %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'contr.ex_contact' %>:</td>
    <td class="show-table-data"><%=h @contract.expedite_contract %></td>
    <td class="show-table-label"><%= t 'contr.ex_email' %>:</td>
    <td class="show-table-data"><%=h @contract.expedite_email %></td>
  </tr>

  <tr>
    <td class="show-table-label">&nbsp;</td>
	<td class="show-table-data">&nbsp;</td>
	<td class="show-table-label"><%= t 'contr.ex_phone' %>:</td>
    <td class="show-table-data"><%=h @contract.expedite_phone %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'contr.ex_date' %>:</td>
    <td class="show-table-data"><%=h @contract.expedite_last_contact %></td>
    <td class="show-table-label"><%= t 'contr.ex_status' %>:</td>
    <td class="show-table-data"><%=h @contract.expedite_status %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'update_by' %>:</td>
    <td class="show-table-data"><%=h @contract.update_by %></td>
  </tr>
</table>
<br />
<% if @contract.expedite_comment %>
  <div class="comment-box">
    <div class="comment">
      <div class="comment-caption">Expeditors comments:</div>
      <div class="comment-leftcolumn"><%=h @contract.expedite_comment %></div>
    </div>
    <div class="cleardiv"></div>
  </div>
<% end %>
<br />
<%= link_to t('contr.vdocs'),contract_vdocs_requirements_path(@contract) %> |
<%= link_to t('edit'),
   edit_contract_path(@contract) %> |
<%= link_to t('destroy'),contract_path(@contract),
  :confirm => t('confirm'), :method => :delete %> |
<%= link_to t('contr.back'), requisition_path(@contract.requisition) %> |
<%= link_to t('req.back'), requisitions_path %>

