<p>
  <b>Requisition:</b>
  <%=h @contract.requisition_id %>
</p>

<p>
  <b>Commodity:</b>
  <%=h @contract.commodity %>
</p>

<p>
  <b>Reference:</b>
  <%=h @contract.reference %>
</p>

<p>
  <b>Commence date:</b>
  <%=h @contract.commence_date %>
</p>

<p>
  <b>Supplier:</b>
  <%=h @contract.supplier %>
</p>

<p>
  <b>Value orig:</b>
  <%=h @contract.value_orig %>
</p>

<p>
  <b>Value current:</b>
  <%=h @contract.value_current %>
</p>

<p>
  <b>Delivery terms:</b>
  <%=h @contract.delivery_terms %>
</p>

<p>
  <b>Delivery date contract:</b>
  <%=h @contract.delivery_date_contract %>
</p>

<p>
  <b>Delivery date forecast:</b>
  <%=h @contract.delivery_date_forecast %>
</p>

<p>
  <b>Expedite contract:</b>
  <%=h @contract.expedite_contract %>
</p>

<p>
  <b>Expedite email:</b>
  <%=h @contract.expedite_email %>
</p>

<p>
  <b>Expedite phone:</b>
  <%=h @contract.expedite_phone %>
</p>

<p>
  <b>Expedite last contact:</b>
  <%=h @contract.expedite_last_contact %>
</p>

<p>
  <b>Expedit status:</b>
  <%=h @contract.expedit_status %>
</p>

<p>
  <b>Update by:</b>
  <%=h @contract.update_by %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>