  <tr>
	<td class="list-cell"><%=link_to vendor_docs.doc_number, vendor_docs %></td>
    <td class="list-cell"><%=h vendor_docs.title %></td>
    <td class="list-cell"><%= display_status(vendor_docs.doc_status) %></td>
    <td class="list-cell"><%=h vendor_docs.date_received %></td>
    <td class="list-cell"><%=h truncate(vendor_docs.remarks,
	  :length => 30) %></td>
    <td class="list-cell"><%= link_to(display_icon(vendor_docs.document_url),
	    vendor_docs.document_url) %></td>
  </tr>

