<h2><%= t 'vdocs.vdocs_show_title' %></h2>

<h4>Params</h4> <%= debug(params) %>
<h4>Response</h4> <%= debug(response) %>

<table class="show-table">
  <tr>
    <td class="show-table-label"><%= t('vdocs.doc_ref') %></td>
    <td class="show-table-data"><%=h @vendor_doc.doc_number %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t('vdocs.doc_title') %></td>
    <td class="show-table-data"><%=h  @vendor_doc.title  %></td>
  </tr>
  <tr>
    <td class="show-table-label"><%= t('vdocs.status') %></td>
    <td class="show-table-data"><%= display_status(@vendor_doc.doc_status)
	   %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t('vdocs.date_received') %></td>
    <td class="show-table-data"><%=h @vendor_doc.date_received %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t('vdocs.remarks') %></td>
    <td class="show-table-data"><%=h @vendor_doc.remarks %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t('vdocs.document') %></td>
    <td class="show-table-data">
	  <%= link_to(display_icon(@vendor_doc.document),
	     generate_secure_s3_url(@vendor_doc.document)) %></td>
  </tr>


</table>
<br />
