%h1= t 'vdocs.vdocs_new_title'

= form_for([@vdocs_requirement,@vendor_doc], :html => {:multipart => true}) do |f|
  = render "shared/error_messages", :target => @vendor_doc
  %table
    %tr
      %td= f.label :doc_number, t('vdocs.doc_ref')
      %td= f.text_field :doc_number
    %tr
      %td= f.label :title, t('vdocs.doc_title')
      %td= f.text_field :title
    %tr
      %td= f.label :doc_status, t('vdocs.status')
      %td= f.select :doc_status, VendorDoc::STATUS_TYPES
    %tr
      %td= f.label :date_received, t('vdocs.date_received')
      %td= f.text_field :date_received
    %tr
      %td= f.label :remarks, t('vdocs.remarks')
      %td= f.text_area :remarks, :rows => 4
    %tr
      %td= f.label :document, t('vdocs.upload')
      %td
        :plain
          #{s3_uploader(:key => "test", :max_filesize => 10.megabytes, :verbose => true)}
    %tr
      %td{:colspan=>"2"}= f.submit 'Create'

= link_to t('vdocs.back'),
  contract_vdocs_requirements_path(@vdocs_requirement.contract)

