%h1= t 'vdocs.vdocs_new_title'

= form_for([@vdocs_requirement,@vendor_doc], :html => {:multipart => true}) do |f|
  = render "shared/error_messages", :target => @vendor_doc
  = f.hidden_field :document
  %table
    %tr
      %td= f.label :doc_number, t('vdocs.doc_ref')
      %td= f.text_field :doc_number
    %tr
      %td= f.label :title, t('vdocs.doc_title')
      %td= f.text_field :title
    %tr
      %td= f.label :doc_status, t('vdocs.status')
      %td= f.select :doc_status, VendorDoc::STATUS_TYPES
    %tr
      %td= f.label :date_received, t('vdocs.date_received')
      %td= f.text_field :date_received
    %tr
      %td= f.label :remarks, t('vdocs.remarks')
      %td= f.text_area :remarks, :rows => 4
  .tcenter.grayField.ral
    %h4.borderBottom Select Document file (must be pdf)
    #progress_bar.ui-progress-bar.ui-container
      .ui-progress{:style => "width: 5%;"}
        %span.ui-label{:style => "display:none;"}
          Uploading...

    :plain
      #{s3_uploader(:key => "vendor-docs", :max_filesize => 10.megabytes, :verbose => true)}
    %a{:id => "pickfiles", :href => "#", :class => "medium silver button ram"} Select file
  %br
  = f.submit 'Create'
%br
= link_to t('vdocs.back'),
  contract_vdocs_requirements_path(@vdocs_requirement.contract)

