<h1><%= t('service_r.edit_title') %></h1>

<%= form_for(@service_request) do |f| %>
  <%= render "shared/error_messages", :target => @service_request %>

  <p>
    <%= f.label :project, t('service_r.project')%><br />
    <%= f.select :project, @projects %>
  </p>
  <p>
    <%= f.label :request_ref, t('service_r.request_ref') %><br />
    <%= f.text_field :request_ref %>
  </p>
  <p>
    <%= f.label :description, t('service_r.desc')  %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :disclipline, t('service_r.disclipline')  %><br />
    <%= f.text_field :disclipline %>
  </p>
  <p>
    <%= f.label :category, t('service_r.category')  %><br />
    <%= f.select :category, ServiceRequest::CATEGORY_TYPES %>
  </p>

  <p>
    <%= f.label :status, t('service_r.status')  %><br />
    <%= f.select :status, ServiceRequest::STATUS_TYPES %>
  </p>
  <p>
    <%= f.label :auth_cost, t('service_r.auth_cost')  %><br />
    <%= f.text_field :auth_cost %>
  </p>
  <p>
    <%= f.label :request_date, t('service_r.request')  %><br />
    <%= f.text_field :request_date %>
  </p>
  <p>
    <%= f.label :auth_date, t('service_r.auth_date')  %><br />
    <%= f.text_field :auth_date %>
  </p>
  <p>
    <%= f.label :service_request_doc, t('service_r.upload') %><br />
    <%= f.file_field :service_request_doc %>
  </p>
  <p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<%= link_to t('show'), @service_request %> |
<%= link_to t('back'), service_requests_path %>
