<h1><%= t('service_r.title') %></h1>

<div class="sr-filter">
  <% form_tag (service_requests_path, :method => :get) do %>
    <%= select_tag :proj_filter,
	  options_for_select(@projects, params[:proj_filter]), :onchange =>'this.form.submit()' %>
  <% end %>
</div>

<table class="item-table">
  <tr valign="top" class="list-header">
    <th class="list-cell"><%= t('service_r.project') %></th>
    <th class="list-cell"><%= t('service_r.request_ref') %></th>
    <th class="list-cell"><%= t('service_r.desc') %></th>
    <th class="list-cell"><%= t('service_r.disclipline') %></th>
    <th class="list-cell"><%= t('service_r.status') %></th>
    <th class="list-cell"><%= t('service_r.auth_cost') %></th>
    <th class="list-cell"><%= t('service_r.request') %></th>
    <th class="list-cell"><%= t('service_r.auth_date') %></th>
	<th class="list-cell"><%= t('action') %></th>
  </tr>

<% @service_requests.each do |service_request| %>
  <tr valign="top" class="<%= cycle('list-line-odd','list-line-even') %>">
    <td class="list-cell"><%=h service_request.project %></td>
    <td class="list-cell"><%= link_to(service_request.request_ref,
	  service_request) %></td>
    <td class="list-cell"><%=h truncate(service_request.description, :length => 40) %></td>
    <td class="list-cell"><%=h service_request.disclipline %></td>
    <td class="list-cell"><%=h service_request.status %></td>
    <td class="list-cell-number">
	  <%=h number_to_currency(service_request.auth_cost, :unit => ' ') %></td>
    <td class="list-cell"><%=h service_request.request_date.strftime("%Y-%m-%d") if service_request.request_date%></td>
    <td class="list-cell"><%=h service_request.auth_date.strftime("%Y-%m-%d") if service_request.auth_date %>&nbsp;</td>
    <td class="list-cell">
      <%= link_to t('destroy'), service_request, :confirm => t('confirm'),
	     :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @service_requests,  :previous_label =>
   t('will_paginate.previous'), :next_label => t('will_paginate.next') %>

<br />

<%= link_to t('service_r.new'), new_service_request_path %>
