<h1>Listing of Service Requests</h1>

<table>
  <tr valign="top" class="list-header">
    <th>Project</th>
    <th>Request ref</th>
    <th>Description</th>
    <th>Disclipline</th>
    <th>Status</th>
    <th>Auth cost</th>
    <th>Request date</th>
    <th>Auth date</th>
	<th>Action</th>
  </tr>

<% @service_requests.each do |service_request| %>
  <tr valign="top" class="<%= cycle('list-line-odd','list-line-even') %>">
    <td><%=h service_request.project %></td>
    <td><%=h service_request.request_ref %></td>
    <td><%=h truncate(service_request.description, :length => 40) %></td>
    <td><%=h service_request.disclipline %></td>
    <td><%=h service_request.status %></td>
    <td><%=h number_to_currency(service_request.auth_cost, :unit => ' ') %></td>
    <td><%=h service_request.request_date.strftime("%Y-%m-%d") if service_request.request_date%></td>
    <td><%=h service_request.auth_date.strftime("%Y-%m-%d") if service_request.auth_date %>&nbsp;</td>
    <td><%= link_to 'Show', service_request %> |
      <%= link_to 'Edit', edit_service_request_path(service_request) %> |
      <%= link_to 'Destroy', service_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @service_requests %>

<br />

<%= link_to 'New service_request', new_service_request_path %>
