<table>
 <tr>
    <td><b>Project:</b></td>
    <td><%=h @service_request.project %></td>
  </tr>

  <tr>
    <td><b>Request ref:</b></td>
    <td><%=h @service_request.request_ref %></td>
  </tr>

  <tr>
    <td><b>Description:</b></td>
    <td><%=h @service_request.description %></td>
  </tr>

  <tr>
    <td><b>Disclipline:</b></td>
    <td><%=h @service_request.disclipline %></td>
  </tr>

  <tr>
    <td><b>Status:</b></td>
    <td><%=h @service_request.status %></td>
  </tr>

  <tr>
    <td><b>Auth cost:</b></td>
    <td>RMB<%=h @service_request.auth_cost %></td>
  </tr>

  <tr>
    <td><b>Request date:</b></td>
    <td><%=h @service_request.request_date.strftime("%Y-%m-%d") %></td>
  </tr>

  <tr>
    <td><b>Auth date:</b></td>
    <td><%=h @service_request.auth_date.strftime('%Y-%m-%d') if @service_request.auth_date  %>&nbsp;</td>
  </tr>
</table>

<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
<%= link_to 'Back', service_requests_path %>
