<h2><%= t('service_r.title') %></h2>
<table class="show-table">
 <tr>
    <td class="show-table-label"><%= t 'service_r.project' %></td>
    <td class="show-table-data"><%=h @service_request.project %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'service_r.request_ref' %></td>
    <td class="show-table-data"><%=h @service_request.request_ref %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'service_r.desc' %></td>
    <td class="show-table-data"><%=h @service_request.description %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'service_r.disclipline' %></td>
    <td class="show-table-data"><%=h @service_request.disclipline %></td>
  </tr>
  <tr>
    <td class="show-table-label"><%= t 'service_r.category' %></td>
    <td class="show-table-data"><%= display_category(@service_request.category)
	  %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'service_r.status' %></td>
    <td class="show-table-data"><%=h @service_request.status %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'service_r.auth_cost'%></td>
    <td class="show-table-data-number"> <%= number_to_rmb(@service_request.
    auth_cost) %></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'service_r.request' %></td>
    <td class="show-table-data"><%=h @service_request.request_date.strftime(
	  "%Y-%m-%d") if @service_request.request_date%></td>
  </tr>

  <tr>
    <td class="show-table-label"><%= t 'service_r.auth_date' %></td>
    <td class="show-table-data"><%=h @service_request.auth_date.strftime(
	  '%Y-%m-%d') if @service_request.auth_date  %>&nbsp;</td>
  </tr>
    <tr>
      <td class="show-table-label"><%= t 'service_r.document' %>:</td>
      <td class="show-table-data">
        <%= link_to(display_icon(@service_request.service_request_doc_url),
          @service_request.service_request_doc_url) %></td>
    </tr>
</table>
<%= link_to t('edit'), edit_service_request_path(@service_request) %> |
<%= link_to t('destroy'), @service_request, :confirm => t('confirm'),
      :method => :delete %> |
<%= link_to t('service_r.new'), new_service_request_path %>

  <%= render :partial => "service_reports/service_report_header" %>
  <% unless @service_request.service_reports.empty? %>
    <%= render :partial => "service_reports/service_report",
      :collection => @service_request.service_reports %>
  <% end %>
</table>
<%= link_to t('service_rep.new'),
  new_service_request_service_report_path(@service_request) %>

<br />
<br />
<%= link_to t('service_r.back'), service_requests_path %>
