<h2>Reports for this Service Request</h2>

<table class='list-table'>
  <tr>
    <th class='list-header'><%= t('service_rep.ref') %></th>
    <th class='list-header'><%= t('service_rep.description') %></th>
    <th class='list-header'><%= t('service_rep.actual_cost') %></th>
    <th class='list-header'><%= t('service_rep.status') %></th>
    <th class='list-header'><%= t('service_rep.date') %></th>
    <th class='list-header'><%= t('service_rep.document') %></th>
