%h2
  = t 'service_rep.show_title'
  =  @service_report.service_request.request_ref

%table.show-table
  %tr
    %td.show-table-label
      = "#{t('service_rep.ref')}:"
    %td.show-table-data= @service_report.report_ref
  %tr
    %td.show-table-label
      = "#{t('service_rep.description')}:"
    %td.show-table-data= @service_report.description
  %tr
    %td.show-table-label
      = "#{t('service_rep.actual_cost')}:"
    %td.show-table-data
      = number_to_rmb(@service_report.actual_cost)
  %tr
    %td.show-table-label
      = "#{t('service_rep.status')}:"
    %td.show-table-data= @service_report.status
  %tr
    %td.show-table-label
      = "#{t('service_rep.date')}:"
    %td.show-table-data= @service_report.report_date
  %tr
    %td.show-table-label
      = "#{t('service_rep.document')}:"
    %td.show-table-date= link_to(display_icon(@service_report.document_url),
      @service_report.document_url)

%p
  = link_to t('edit'),
     edit_service_request_service_report_path(@service_report.service_request,       @service_report)
  |
  = link_to t('destroy'),
    service_request_service_report_path(@service_report.service_request),
    :confirm => t('confirm'),
    :method => :delete
  |
  = link_to t('back'), service_request_path(@service_report.service_request)
