<p id="notice"><%= notice %></p>

<p>
  <b>Report ref:</b>
  <%= @service_report.report_ref %>
</p>

<p>
  <b>Description:</b>
  <%= @service_report.description %>
</p>

<p>
  <b>Actual cost:</b>
  <%= @service_report.actual_cost %>
</p>

<p>
  <b>Status:</b>
  <%= @service_report.status %>
</p>

<p>
  <b>Document:</b>
  <%= @service_report.document %>
</p>

<p>
  <b>Report date:</b>
  <%= @service_report.report_date %>
</p>


<%= link_to 'Edit', edit_service_report_path(@service_report) %> |
<%= link_to 'Back', service_reports_path %>
