 <h1>Change Password:</h1>

 <% form_tag(:action => "change_password") do %>
	<table>
    <% if @this_user.superuser %>
	  <tr>
	    <td><label for "username">Username:</label></td>
		<td><%= text_field_tag "username" %></td>
	  </tr>
	<% else %>
      <tr>
	    <td><label for="password">Old Password:</label></td>
	    <td><%= password_field_tag "old_password" %></td>
	  </tr>
	<% end %>
	  <tr>
	    <td><label for="new_password">New Password:</td>
		<td><%= password_field_tag "new_password" %></td>
	  </tr>
	  <tr>
	    <td><label for="confirm_password">Confirm New Password:</td>
		<td><%= password_field_tag "confirm_password" %></td>
	  </tr>
	  <tr>
	    <td><%= submit_tag "Submit" %></td>
		<td>&nbsp;</td>
	  </tr>
	</table>
  <% end %>
