<h1>Listing of Users</h1>
<table class="item-table">
  <tr valign="top" class="list-header">
    <th class="list-cell">Username</th>
	<th class="list-cell">Forename</th>
	<th class="list-cell">Surname</th>
	<th class="list-cell">email</th>
	<th class="list-cell">Company</th>
	<th class="list-cell">Last Login</th>
	<th class="list-cell">disabled?</th>
	<th class="list-cell">superuser</th>
	<th  class="list-cell"colspan="3">Action</th>
  </tr>

<% @all_users.each do |u| %>

  <tr valign="top" class="<%= cycle('list-line-odd','list-line-even') %>">
    <td class="list-cell"><%=h u.username %></td>
    <td class="list-cell"><%=h u.forename %></td>
    <td class="list-cell"><%=h u.surname %></td>
    <td class="list-cell"><%=h u.email_addr %></td>
    <td class="list-cell"><%=h u.company %></td>
	<td class="list-cell"><%=h u.last_login %></td>
    <td class="list-cell"><%=h u.disabled %></td>
	<td class="list-cell"><%=h u.superuser %></td>
	<td class="list-cell"><%= link_to 'Edit', edit_user_path(u) %>|</td>
	<td class="list-cell"><%= link_to "Show Roles", user_roles_path(u) %>|</td>
	<td class="list-cell"><%= link_to 'Destroy', user_path(u), :confirm => 'Are you sure?',
	        :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New User', new_user_path %> |
<%= link_to 'Change Password', change_password_users_path %> |
<%= link_to 'Manage Rights and Roles', rights_path %>




