<h1>Listing projects</h1>

<div class="tagline">
  Set the master list of valid projects
</div>
<table class="item_table">
  <tr class="list-header">
    <th class="list-cell">Name</th>
    <th class="list-cell">Description</th>
    <th class="list-cell">Inactive?</th>
    <th class="list-cell">Action</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td class="list-cell"><strong><%=h project.name %></strong></td>
    <td class="list-cell"><%=h project.description %></td>
    <td class="list-cell"><%=h project.inactive %></td>
    <td class="list-cell"><%= link_to 'Show', project %> |
      <%= link_to 'Edit', edit_project_path(project) %> |
      <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
