<h1>Listing requisitions</h1>
<div id="requisition-filter">
  <% form_tag(requisitions_path, :method => :get) do %>
    <%= select_tag :req_filter, options_for_select (Requisition::REQ_TYPES,params[:req_filter]) %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<div id="requisition-table">
<table class="item_table">
  <tr class="list-header">
    <th class="list-cell">Req num</th>
    <th class="list-cell">Commodity</th>
    <th class="list-cell">Scope</th>
    <th class="list-cell">Status</th>
    <th class="list-cell">MR doc</th>
    <th class="list-cell">Required on site</th>
    <th class="list-cell">Enquiry issued</th>
    <th class="list-cell">TBT issued<br />
         CBT issued</th>
    <th  class="list-cell" colspan="3">Action</th>
  </tr>

<% @requisitions.each do |requisition| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" >
    <td class="list-cell"><%=h requisition.req_num %></td>
    <td class="list-cell">
	    <%=h truncate(requisition.commodity, :length => 30) %></td>
    <td class="list-cell"><%=h requisition.scope %></td>
    <td class="list-cell"><%=h requisition.status %></td>
    <td class="list-cell"><%=h requisition.mr_doc %></td>
    <td class="list-cell"><%=h requisition.required_on_site %></td>
    <td class="list-cell"><%=h requisition.enquiry_issued %></td>
    <td class="list-cell"><%=h requisition.tbt_issued %><br/>
        <%=h requisition.cbt_issued %></td>
    <td class="list-cell"><%= link_to 'Show', requisition %></td>
    <td class="list-cell"><%= link_to 'Edit',
	    edit_requisition_path(requisition) %></td>
    <td><%= link_to 'Destroy', requisition, :confirm => 'Are you sure?',
	    :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<%= will_paginate @requisitions %>

<%= link_to 'New requisition', new_requisition_path %>
