<h1><%= t 'req.title' %></h1>
<div class="requisition-filter">
  <%= form_tag(requisitions_path, :method => :get) do %>
    <%= select_tag :req_filter, 
	    options_for_select(Requisition::REQ_TYPES, session[:req_filter]),
		:onchange => 'this.form.submit()' %>
    <%= submit_tag t("filter") %>
  <% end %>
</div>
<div class="requisition-filter">
  <%= form_tag(requisitions_path, :method => :get) do %>
    <%= select_tag :scope_filter, 
	    options_for_select(Requisition::SCOPE_TYPES, session[:scope_filter]),
		:onchange => 'this.form.submit()' %>
    <%= submit_tag t "filter" %>
  <% end %>
</div>
<div class="requisition-filter">
  <%= form_tag(requisitions_path, :method => :get) do %>
    <%= select_tag :status_filter, 
	    options_for_select(Requisition::STATUS_TYPES, session[:status_filter]),
		:onchange => 'this.form.submit()' %>
    <%= submit_tag t "filter" %>
  <% end %>
</div>
<div id="requisition-table">

<p><%= raw(t('req.legend')) %></p>
<p><%= link_to "Report on Requisitions", report_requisitions_path %> |
  <%= link_to t('export'), export_requisitions_path %></p>
<%= will_paginate @requisitions, :previous_label => t('will_paginate.previous'),
   :next_label => t('will_paginate.next') %>
<table class="item_table">
  <tr class="list-header">
    <th class="list-cell"><%= raw(t('req.req_ref')) %></th>
    <th class="list-cell"><%= raw(t('req.commodity')) %></th>
    <th class="list-cell"><%= raw(t('req.scope')) %></th>
    <th class="list-cell"><%= raw(t('req.status')) %></th>
    <th class="list-cell"><%= raw(t('req.mr_doc')) %></th>
    <th class="list-cell"><%= raw(t('req.ros_rpo')) %></th>
	<th class="list-cell"><%= raw(t('req.bid_applic_s')) %></th>
    <th class="list-cell"><%= raw(t('req.enq_issue')) %></th>
    <th class="list-cell"><%= raw(t('req.tbt_cbt')) %></th>
	<th class="list-cell"><%= raw(t('req.contract')) %></th>
  </tr>

<% @requisitions.each do |requisition| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" >
    <td class="list-cell"><%= link_to(requisition.req_num, requisition) %></td>
    <td class="list-cell">
	    <%=h truncate(requisition.commodity, :length => 50) %></td>
    <td class="list-cell">
	    <%= display_req_scope(requisition.scope) %></td>
    <td class="list-cell"><%= display_req_status(requisition.status) %></td>
    <td class="list-cell"><%=h requisition.mr_doc %></td>
    <td class="list-cell"><%=h requisition.required_on_site %><br />
	  <%=h requisition.required_contract %></td>
    <td class="list-cell"><%=h requisition.bid_applic_approved %></td>
    <td class="list-cell"><%=h requisition.enquiry_issued %></td>
    <td class="list-cell"><%=h requisition.tbt_issued %><br/>
        <%=h requisition.cbt_issued %></td>
    <td class="list-cell"><%= render :partial => "/contracts/contract_ref",
	  :collection => requisition.contracts,
	  :spacer_template => "/contracts/contract_ref_spacer" %>
	  </td>
  </tr>
<% end %>
</table>
</div>
<%= will_paginate @requisitions, :previous_label => t('will_paginate.previous'),
   :next_label => t('will_paginate.next') %>
<br />
<%= link_to t('req.new'), new_requisition_path %>
