<h1>Requsitions and Contracts Report</h1>
<p><%= link_to "View as PDF", report_requisitions_path(:format => "pdf") %>
<table class="item_table">
  <tr class="list-header">
    <th class="list-cell"><%= t 'req.req_ref' %></th>
    <th class="list-cell"><%= t 'req.commodity' %></th>
    <th class="list-cell"><%= t 'req.scope' %></th>
    <th class="list-cell"><%= t 'req.status' %></th>
    <th class="list-cell"><%= t 'req.ros_rpo' %></th>
	<th class="list-cell"><%= t 'req.bid_applic_s' %><br />
      <%= t 'req.enq_issue' %></th>
    <th class="list-cell"><%= t 'req.tbt_cbt' %></th>
	<th class="list-cell">&nbsp;</th>
  </tr>
  <tr class="list-header">
    <th class="list-cell">&nbsp;</th>
	<th class="list-cell"><%= t 'contr.commodity' %></th>
    <th class="list-cell"><%= t 'contr.ref' %></th>
    <th class="list-cell"><%= t 'contr.com_date' %></th>
    <th class="list-cell"><%= t 'contr.supplier' %></th>
    <th class="list-cell"><%= t 'contr.d_terms' %></th>
    <th class="list-cell"><%= t 'contr.d_date_c' %><br />
      <%= t 'contr.d_date_f' %></th>
	<th class="list-cell"><%= t 'contr.ex_comment' %></th>
  </tr>

<% @requisitions.each do |requisition| %>
  <tr class="list-line-odd">
    <td class="list-cell"><%=h requisition.req_num %></td>
    <td class="list-cell">
	    <%=h truncate(requisition.commodity, :length => 50) %></td>
    <td class="list-cell">
	    <%= display_req_scope(requisition.scope) %></td>
    <td class="list-cell"><%= display_req_status(requisition.status) %></td>
    <td class="list-cell"><%=h requisition.required_on_site %><br />
	  <%=h requisition.required_contract %></td>
    <td class="list-cell"><%=h requisition.bid_applic_approved %><br />
      <%=h requisition.enquiry_issued %></td>
    <td class="list-cell"><%=h requisition.tbt_issued %><br/>
        <%=h requisition.cbt_issued %></td>
	<td class="list-cell">&nbsp;</td>
  </tr>
    <% unless requisition.contracts.empty? %>
   <!-- contracts for this requisition -->
    <%= render :partial => "/contracts/report",
    :collection => requisition.contracts.sort_by {|c| c.reference } %>
  <% end %>


<% end %>
</table>
