<% # lets try to use some CSS to make this look good -%>

<div id="form-leftcolumn">
  <div class="form-row-1-label">Req num:</div>
  <div class="form-row-1-data"><%=h @requisition.req_num %></div>
  <div class="form-row-1-label">Commodity:</div>
  <div class="form-row-1-data"><%=h @requisition.commodity %> </div>
  <div class="form-row-1-label">Scope:</div>
  <div class="form-row-1-data"><%=h @requisition.scope %>&nbsp;</div>
  <div class="form-row-1-label">Status:</div>
  <div class="form-row-1-data"><%=h @requisition.status %>&nbsp;</div>
  <div class="form-row-1-label">MR Doc:</div>
  <div class="form-row-1-data"><%=h @requisition.mr_doc %>&nbsp;</div>
  <div class="form-row-1-label">Budget (RMB):</div>
  <div class="form-row-1-data">
	  <%=h number_to_currency(@requisition.budget_rmb, :unit => "RMB") %>&nbsp;
    </div>
</div>

<div id="form-rightcolumn">
  <div class="form-row-1-label">Required on Site Date:</div>
  <div class="form-row-1-data">
	    <%=h @requisition.required_on_site %>&nbsp;</div>
  <div class="form-row-1-label">Bid Application Approval:</div>
  <div class="form-row-1-data"><%=h @requisition.bid_applic_approved %></div>
  <div class="form-row-1-label">Enquiry Issue Date:</div>
  <div class="form-row-1-data"><%=h @requisition.enquiry_issued %>&nbsp;</div>
  <div class="form-row-1-label">TBT Issue Date:</div>
  <div class="form-row-1-data"><%=h @requisition.tbt_issued %>&nbsp;</div>
  <div class="form-row-1-label">CBT Issue Date:</div>
  <div class="form-row-1-data"><%=h @requisition.cbt_issued %>&nbsp;</div>
  <div class="form-row-1-label">Updated By:</div>
  <div class="form-row-1-data"><%=h @requisition.update_by %>&nbsp;</div>
</div>

<div id="req-contracts">
  <% unless @requisition.contracts.empty? %>
   <!-- contracts for this requisition -->
    <%= render :partial => "/contracts/contract_header" %>
    <%= render :partial => "/contracts/contract",
     :collection => @requisition.contracts.sort_by {|c| c.reference } %>
    <%= render :partial => "/contracts/contract_footer" %>
  <% end %>

  <% unless @requisition.req_comments.empty? %>
    <!-- comments against this requisition -->
    <h3>Comments against this requisition:</h3>
    <%= render :partial => "/req_comments/comment", 
       :collection => @requisition.req_comments %>
  <% end %>
</div>

<div id="form-navigation">
  <%= link_to 'Add New Purchase contract',
         new_requisition_contract_url(@requisition) %> |
  <%= link_to 'Add New Comment', new_requisition_req_comment_url(@requisition) %> |
  <%= link_to 'Edit this Requisition', edit_requisition_path(@requisition) %> |
  <%= link_to 'Back to Requisitions List', requisitions_path %>
</div>

