<div id="top">
<h1><%= t 'main_menu.title' %></h1>
</div>
<div id="leftnav">
  <h3><%= t 'main_menu.set_project' %></h3>
  <%= form_tag set_project_path do %>
    <p>
      <%= select_tag(:project,
	      options_for_select(@projects, session[:project]),
		  :onchange => 'this.form.submit()') %>
    </p>
    <p>
    <%= select_tag :locale, options_for_select(LANGUAGES,I18n.locale),
	   :onchange => 'this.form.submit()' %>
    </p>
    <p>
	<%= submit_tag "Set" %>
    </p>
  <% end %>
</div>

<div id="right-menu">
  <h3><%= t 'main_menu.menu_title_2' %></h3>
  <ul>
    <li><%= link_to t('main_menu.proj_numbers'), projects_path %></li>
    <li><%= link_to t('change_password'), change_password_users_path %></li>
    <li><%= link_to t('main_menu.user_admin'), users_path %></li>
    <li><%= link_to t('logout'), "/logout" %></li>
    <li><%= link_to t('main_menu.about'), about_path %></li>
  </ul>
</div>
<div id="main-menu">
  <h3><%= t 'main_menu.menu_title_1' %></h3>
  <ul>
    <li><%= link_to t('main_menu.menu_reqs'), requisitions_path %></li>
    <li><%= link_to t('main_menu.menu_contr'), contracts_path %></li>
    <li><%= link_to t('main_menu.expedite'), expedite_contracts_path %></li>
    <li><%= link_to t('main_menu.menu_sr'), service_requests_path %></li>
    <li><%= link_to t('main_menu.safety_stats'), site_hours_path %></li>
    <li><%= link_to t('main_menu.incidents'), incidents_path %></li>
    <li><%= link_to t('main_menu.library'), library_docs_path %></li>
    <li><%= link_to t('logout'), "/logout" %></li>
  </ul>
</div>

<br /><br />
