<%= # debug session
  %>
<%= # debug I18n.locale
   %>

<h1><%= t 'main_menu.title' %></h1>
<h2><%= t 'main_menu.subtitle' %></h2>

<% if !session[:user_id] -%>
  <%= render :partial => "/users/login" %>
<% else %>
<h3><%= t 'main_menu.set_project' %></h3>
  <% form_tag set_project_path do %>
    <%= select_tag(:project,
	      options_for_select(@projects, session[:project]),
		  :onchange => 'this.form.submit()') %>
    <%= select_tag :locale, options_for_select(LANGUAGES,I18n.locale),
	   :onchange => 'this.form.submit()' %>
	<%= submit_tag "Set" %>
  <% end %>

<div id="main-menu">
  <h3><%= t 'main_menu.menu_title_1' %></h3>
  <ul>
    <li><%= link_to t('main_menu.menu_reqs'),
       requisitions_path %></li>
    <li><%= link_to t('main_menu.menu_sr'), :action => "index",
	   :controller => "service_requests" %></li>
	<li><%= link_to t('main_menu.safety_stats'), site_hours_path %></li>
    <li>Correspondance Logs</li>
    <li><%= link_to t('logout'), "/logout" %></li>
  </ul>
  <h3><%= t 'main_menu.menu_title_2' %></h3>
  <ul>
    <li><%= link_to t('main_menu.proj_numbers'), projects_path %></li>
    <li><%= link_to t('change_password'), change_password_users_path %></li>
    <li><%= link_to t('main_menu.user_admin'), users_path %></li>
    <li><%= link_to t('logout'), "/logout" %></li>
    <li><%= link_to t('main_menu.about'), about_path %></li>
  </ul>
</div>
<% end %>

<br /><br />
