<h1><%= t'library.edit_title' %></h1>

<% form_for(@library_doc, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :category, t('library.category') %>:</td>
    <td><%= f.select :category, LibraryDoc::CATEGORY_TYPES %></td>
  </tr>
  <tr>
    <td><%= f.label :reference, t('library.reference') %>:</td>
    <td><%= f.text_field :reference %></td>
  </tr>
  <tr>
    <td><%= f.label :title, t('library.title') %>:</td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td style="valign:top"><%= f.label :remarks, t('library.remarks') %>:</td>
    <td><%= f.text_area :remarks, :rows => 4 %></td>
  </tr>
  <tr>
    <td><%= f.label :document, t('library.upload') %>:</td>
    <td><%= f.file_field :document %></td>
  </tr>
  <tr>
    <td><%= f.submit t('update') %></td>
	<td><%= link_to t('destroy'), @library_doc, :confirm => t('confirm'),
	  :method => :delete %></td>
  </tr>
</table>
<% end %>
<p>
<%= link_to t('show'), @library_doc %> |
<%= link_to t('back'), library_docs_path %>
</p>
