<h1><%= t 'library.index_title' %></h1>

<table class="item_table">
  <tr class="list-header">
    <th class="list-cell"><%= t'library.category' %></th>
    <th class="list-cell"><%= t'library.reference' %></th>
    <th class="list-cell"><%= t'library.title' %></th>
    <th class="list-cell"><%= t'library.remarks' %></th>
    <th class="list-cell"><%= t'library.document' %></th>
	<th class="list-cell"><%= t'action' %></th>
  </tr>

<% @library_docs.each do |library_doc| %>
  <tr>
    <td class="list-cell"><%=h library_doc.category %></td>
    <td class="list-cell"><%=h library_doc.reference %></td>
    <td class="list-cell"><%=h library_doc.title %></td>
    <td class="list-cell"><%=h truncate(library_doc.remarks, 40) %></td>
    <td class="list-cell"><%= link_to t('library.document'),
	  library_doc.document_url %></td>
    <td class="list-cell"><%= link_to t('edit'),
	  edit_library_doc_path(library_doc) %> | 
      <%= link_to t('destroy'), library_doc, :confirm => t('confirm'),
	  :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('library.new'), new_library_doc_path %>
