<h1>Listing procurement_docs</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Source</th>
    <th>Remarks</th>
    <th>Document</th>
  </tr>

<% @procurement_docs.each do |procurement_doc| %>
  <tr>
    <td><%=h procurement_doc.category %></td>
    <td><%=h procurement_doc.source %></td>
    <td><%=h procurement_doc.remarks %></td>
    <td><%=h procurement_doc.document %></td>
    <td><%= link_to 'Show', procurement_doc %></td>
    <td><%= link_to 'Edit', edit_procurement_doc_path(procurement_doc) %></td>
    <td><%= link_to 'Destroy', procurement_doc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New procurement_doc', new_procurement_doc_path %>