<h1>New Procurement Document</h1>

<% form_for([@requisition,@procurement_doc], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :category %></td>
    <td><%= f.select :category, ProcurementDoc::CATEGORY_TYPES %>
  </tr>
  <tr>
    <td><%= f.label :source %><br />
    <td><%= f.text_field :source %>
  </tr>
  <tr>
    <td><%= f.label :proc_document %><br />
    <td><%= f.file_field :proc_document %>
  </tr>
  <tr>
    <td><%= f.label :remarks %><br />
    <td><%= f.text_area :remarks, :rows => 5 %>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit 'Create' %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Back', requisition_path(@requisition) %>
