<h1><%= t('proc_doc.new_title') %></h1>

<% form_for([@requisition,@procurement_doc], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :category, t('proc_doc.category') %></td>
    <td><%= f.select :category, ProcurementDoc::CATEGORY_TYPES %>
  </tr>
  <tr>
    <td><%= f.label :reference, t('proc_doc.reference') %><br />
    <td><%= f.text_field :reference %>
  </tr>
  <tr>
    <td><%= f.label :source, t('proc_doc.source') %><br />
    <td><%= f.text_field :source %>
  </tr>
  <tr>
    <td><%= f.label :proc_document, t('proc_doc.upload') %><br />
    <td><%= f.file_field :proc_document %>
  </tr>
  <tr>
    <td><%= f.label :remarks, t('proc_doc.remarks') %><br />
    <td><%= f.text_area :remarks, :rows => 5 %>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit t('create') %></td>
  </tr>
</table>
<% end %>

<%= link_to t('back'), requisition_path(@requisition) %>
