<div id="header_menu">
  <table width="100%"><tr>
    <td><%= link_to t('main_menu.home'), main_menu_path %></td>
	<td><%= link_to t('main_menu.menu_reqs'), requisitions_path %></td>
        <td><%= link_to t('main_menu.menu_contr'), contracts_path %></td>
	<td><%= link_to t('main_menu.menu_sr'), service_requests_path %></td>
	<td><%= link_to t('main_menu.safety_stats'),site_hours_path %></td>
	<td><%= link_to t('main_menu.library'), library_docs_path %></td>
	<td><%= link_to t('main_menu.user_admin'), users_path %></td>
	<td><%= link_to t('logout'), :logout %>
  </tr></table>
</div>


