<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="keywords" content="project control system" />
<title>ProjectControlSystem: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'projectcontrol' %>
</head> 
<body>
<div id="header">
  <h1 id="logo"><table><tr valign="bottom"><td><a href="/"><%= image_tag "capclogo001.png", :height => 40, :alt => "Project Control System" %></a></td><td><%= image_tag "capcname001.png", :height => 40 %></td></tr></table>
  </div>

<%= render :partial => "top_menu" %>

<% if session[:user_id] -%>
   <div> 
     <table width="50%"><tr>
       <td>You are logged in as <b><%= session[:username] %></b></td>
	   <td>Active project is <b><%= session[:project] %></b></td>
     </tr></table>
   </div>
  <% end -%>
<hr />
<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>

  <%= yield %>

<div id="footer">
<hr />
<p>Project Control System Copyright &copy; 2011 Duncan  </p>
</div>

</body>
</html>
