<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="keywords" content="project control system" />
<title>ProjectControlSystem: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'projectcontrol','jquery-ui/jquery-ui-1.8.14.custom' %>
  <%= javascript_include_tag "jquery-1.5.1.min",
    "jquery-ui-1.8.14.custom.min.js","jquery.rails", "application" %>
  <%= csrf_meta_tag %>
</head> 
<body>
<div id="header">
  <div id="logo">
     <a href="/"><%= image_tag "capclogo001.png", :height => 40,
                :alt => "Project Control System" %></a>
  </div>
  <div id="logo_name">
    <%= image_tag "capcname001.png", :height => 40 %>
  </div>

<% if session[:user_id] -%>
   <div id="user_project_banner"> 
       <p><%= t 'logged_in_as' %><em><%= session[:username] %></em></p>
       <p><%= t 'active_project' %><em><%= session[:project] %></em></p>
   </div>
  <% end -%>

</div>
<hr />
<%= render :partial => "top_menu" %>
<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
<hr />
<p>Project Control System Copyright &copy; 2011 Duncan  </p>
</div>

</body>
</html>
